@page
@model Inlämning.Pages.Admin.ManageUsersModel
@{
}

<div class="text-center">
    <h1> ManageUsersModel!</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Roles</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@string.Join(" , ", item.Roles.ToList())</td>
                </tr>
            }
        </tbody>
    </table>
</div>

























